{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="icon" href="{% static 'imgs/me.png' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'cookie.css' %}">
</head>
<body>
    {% include "predicts/navigation.html" %}

    <main>
            <h1 class="Top_H">Главная страница</h1>
        <article>
            <h3>Кратко обо мне</h3>
            <p>В сети меня зовут Igreeda, я начинающий <del>программист</del> разработчик с отличным для своих лет опытом. Увлекаюсь IT, музыкой, машинами... Короче много чем. Стремлюсь стать успешным и востребованным в своем направлении. Окончил 8 лет музыкалки на
                <a href="https://rediez.ru/im/plucked/domra/alt/pkmi/d3_alt_i_kategoriya/d3_alt_i_kategoriyab.jpg">домре</a>, сейчас достаточно неплохо играю на гитаре. Ну, если коротко, то это все.</p>
        </article>

        <article>
            <h3>А теперь подробнее...</h3>
            <p>А подробнее будет только о моих навыках в IT.</p>
            <p>Погружаться в мир информационных технологий я начал в 2022 году. Тогда мне пришла гениальная идея, что я могу автоматизировать получение оценки за ОГЭ. За неделю я разработал Телеграмм-бота, с помощью которого узнавал оценки за экзамены.</p>
            <p>Летом после экзаменов я заинтересовался искусственным интеллектом. Половину лета я гонял мяч во дворе и изучал машинной обучение. В августе 2022 года я создал основу для голосового ассистента (*добавить ссылку на проект*). В 10 классе участвовал с этим проектом на городских, всероссийских и международных Олимпиадах. Участия оказались вполне успешными.</p>
            <p>Сейчас я учусь на 5-ом году в <a href="https://informatics.ru/">Школе Программистов</a>, закончил с отличием курс Промышленное Программирование. На нем я был как Тимлидом проекта, так и штатным бэк-разработчиком. В конце курса мы с командой доработали моего голосового ассистента, защитили его в Яндексе, и получили за защиту максимальный балл. </p>
            <p>Летом я проходил стажировку в Яндекс на позицию Backend-разработчика</p>
            <p>Сейчас я учусь в МФТИ на Программной Инженерии</p>
            <h4>Мои навыки:</h4>
            <ul>
                <li>Язык Python 3ей версии:
                    <ol>
                        <li>Разработка Телеграмм-ботов</li>
                        <li>Разработка десктопных приложений</li>
                        <li>Создание сайтов при помощи библиотеки django</li>
                        <li>Решение задач олимпиадного уровня</li>
                        <li>Машинное обучение</li>
                    </ol>
                </li>
                <li>C++
                    <ol>
                        <li>Решение задач олимпиадного уровня</li>
                        <li>Создание скриптов для разных уровней OSI</li>
                        <li>Разработка десктопных приложений на основе ООП</li>
                    </ol>
                </li>
                <li>C#
                    <ol>
                        <li>Разработка десктопных приложений</li>
                        <li>Разработка мобильных приложений</li>
                    </ol>
                </li>
                <li>HTML+CSS
                    <ol>
                        <li>Навыки верстки сайта</li>
                    </ol>
                </li>
                <li>Администрирование
                    <ol>
                        <li>Администрирование сетей</li>
                        <li>Администрирование Linux-сервера</li>
                    </ol>
                </li>
            </ul>
        </article>

        <article>
            <p>Пока что так. Видишь, что не хватает какой-то информации? Найдена очепятка? Пиши в в мой телеграмм, я буду благодарен всем отзывам о сайте (Кстати ходит легенда, что на этом сайте будут комментарии)</p>
        </article>

    </main>

   {% include "predicts/footer.html" %}
   {% include "predicts/cookie.html" %}

</body>
</html>
