{% load static %}
 <footer class="padic">
        <ul class="foot">
            <p>© 10.12.2023 | Design by Igreeda</p>

            <div class="links">
                <a href="https://t.me/ii_nikolaev" target="_blank">
                    <img src="/static/imgs/tg.svg" alt="" style="width: 50px;">
                </a>
                <a href="https://vk.com/ii_nikolaev" target="_blank">
                    <img src="/static/imgs/vk.svg" class="footVK" alt="" style="width: 50px;">
                </a>
                <a href="https://github.com/Igggor/" target="_blank">
                    <img src="/static/imgs/github.svg" class="footVK" alt="" style="width: 50px;">
                </a>
            </div>


        </ul>
    </footer>